.Cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #00EA94;
  box-shadow: 0 0 15px 1px #00EA94;
  color: #00EA94;
  font-size: 90px;
  text-shadow: 0 0 25px #00EA94;
}