.EndGameMenu {
  text-align: center;

  &__title {
    margin: 20px 0 50px 0;
    color: #00EA94;
    font-size: 50px;
    text-shadow: 0 0 25px #00EA94;
  }

  &__score {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    color: #ffbc00;
    font-size: 18px;
    text-shadow: none;
  }
}